.card_container{
    display: flex;
    width: 70 vw;
    box-shadow: .2em .2em .8em  black;
    height: 15em;
    margin-top: 15px;
    /* background-color: red; */
}

.card_imagen{
    background-position: center;
}

.divDadosTrilha{
    display: flex;
    flex-direction: column;
}

.nomeTrilha{
    display: flex;
    flex-wrap: wrap;
}
