.card_container{
    display: flex;
    width: 50%;
    box-shadow: .2em .2em .8em  black;
    height: auto;
    /* height: 16em; */
    margin: 10px auto;
    border-radius: 10px;
}

.card_imagen{
    width: 200px;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div1DadosTrilha{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    gap: 10px;
}

.div2DadosTrilha{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 15px;
}

.spanDif{
    background-color: lightgrey;
    padding: 4px;
    border: none;
    border-radius: 5px;
    display: inline-block;
}